<div class="product-list-item">

    <div class="product-list-item__desc">
        <h4 class="product-list-item__date">{{ title }}</h4>
        <p class="product-list-item__copy">{{ copy }}</p>
    </div>
    <div class="product-list-item__links">
    	<a href="{{ url }}" class="product-list-item__links__link">Download Full Prescribing Information</a>
    	<a href="http://{{ webaddr }}" class="product-list-item__links__link">{{ webaddr }}</a>
    </div>

</div>
